-# EE:Self Managed
- page_title s_('CodeSuggestions|GitLab Duo Pro')
- duo_pro_url = add_duo_pro_seats_url(@subscription_name)

#js-code-suggestions-page{ data: { add_duo_pro_seats_url: duo_pro_url } }
